{% extends 'store/base.html' %}
{% block content %}
    <h2>{{ category.name }}</h2>
    <p>{{ category.description }}</p>
    <div class="products">
        {% for product in products %}
            <div class="product">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
                {% endif %}
                <h3><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>
                <p>{{ product.volume }} - Ksh {{ product.price }}</p>
            </div>
        {% empty %}
            <p>No products available in this category.</p>
        {% endfor %}
    </div>
{% endblock %}